@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 15;
  --font-poppins: 'Poppins', sans-serif;
  --text-color:255, 255, 255
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
}
/* .textgradientHero{
  background:linear-gradient(to bottom,(var(--tw-gradient-from-position)),(var(--tw-gradient-to-position)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
} */
}
@media (min-width: 768px) {
.sidebar-sticky{
  position: fixed;
  left: 0px;
  top: 82px;
  background: #27272a;
}
}
@media (min-width: 768px) {
.homeScreen{
  position: absolute;
  left: 11rem;
}
}
.navbar-sticky{
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  background: #090912e8;
}
@media (min-width: 768px) {
.h-sildebar{
  height: 89%;
}
}
.m_view_slidebar{
  position: fixed;
    top: 5.1rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.settings_popup{
background: #282828;
}
.border_bottom{
  border-bottom: 1px solid rgb(240, 240, 240);
}
.nav_pos{
  justify-content: space-evenly;
}
.loaderBg{
  background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}
.bg-temp-clr{
  background:  rgb(var(--background-rgb))
}